<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 mt-5">License Server</h1>
    <p class="lead mt-5">
      This website is for license server administration.
    </p>
  </div>

</div>

